<br><br><div style="text-align: center;">
    <p><button type="button" class="btn btn-primary button-block btn-lg custom"   routerLink="/question">Java</button></p><br>
    <p><button type="button" class="btn btn-primary button-block btn-lg"   routerLink="/typescript">Type script</button></p><br>
    <p><button type="button" class="btn btn-primary button-block btn-lg"   routerLink="/sql">Sql</button></p><br>
    <p><button type="button" class="btn btn-primary button-block btn-lg"   routerLink="/script">JavaScript</button></p><br>
</div>
